<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% lucidAsset "/css/main.css" %}>
        {% lucidHead %}
    </head>
    <body>

        <header>
            <h1>Lucid Site</h1>
        </header>

        {% block template %}
        
        {% endblock %}

        {% lucidFooter %}
    </body>
</html>