{% layout "../layouts/default.liquid" %}

{% block template %}
    <div class="pageContent">
        {% lucidApp %}
    </div>
    <div class="sidebar">
        <p>I am a sidebar!</p>
    </div>
{% endblock %}