{% layout "../../layouts/default.liquid" %}

{% block template %}
    <div class="pageContent">
        {% lucidApp %}
    </div>
    <div id="secondComp" class="sidebar">
        <p>I am a sidebar for the blog page!</p>
    </div>
{% endblock %}