<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Willpress - Connect DB</title>
    </head>
    <body>
        <h1>Lets get you connected!</h1>
        <p>You need to configure your Willpress instance with a MongoDB DB before you can get started!</p>
        <p>If you are unsure how to do this, please read the following page on our documentation site here.</p>
    </body>
</html>